div{
    background-color: beige;
    border-style: dotted;
    width: 400px;
    padding: 10px 10px 10px 10px;
    position: relative;
    top: 100px;
    left: 650px;
}

h2:hover{
    background-color: aqua;
   
    
}
p:hover{
    background-color: firebrick;
}

a:hover{
    background-color: bisque; 
}

p{
     font-family: 'Dancing Script', cursive;
}

#one {
    border-style: groove;
    padding-top: 100px;
    padding-bottom: 30px;
    padding: 20px 25px 30px 35px;
    
}